[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybluez = {git = "git+https://github.com/pybluez/pybluez.git#egg=pybluez"}
black = "*"
isort = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.12"
